    <!-- <form class="box">
        <h1>For List view enter a number</h1>
        <input type="number" placeholder="Enter a number" min="0" name="num" [(ngModel)]="num">
        <input type="submit" value="Submit" name="" (click)="value()">
    </form> -->

    <div *ngIf="cardShow"  style="padding: 16px 0 0 0;">
    <mat-card class="example-card">

        <mat-card-title>Enter a number to view list of Users</mat-card-title>
        <mat-card-content>
            <input type="number" placeholder="Enter a number" min="0" name="num" [(ngModel)]="num">
            <div style="padding: 16px 0 0 0;"><button mat-raised-button color="primary" (click)="value()" >Submit</button></div>
            
        </mat-card-content>
    </mat-card>
    </div>

    <div style="padding: 16px 0 0 0;">
    <button mat-raised-button color="primary" (click)="reset()" >Reset</button>
    </div>


    <div *ngIf="list!=null && !cardShow">
        <!-- page:{{list.page}};
        per_page:{{list.per_page}};
        total:{{list.total}};
        total_pages:{{list.total_pages}}; -->
        <div class="row">
            <ul style="list-style-type:none;">
                <li class="col-4" *ngFor="let i of list.data" style="padding: 26px;">
                    <mat-card class="example-card">

                        <mat-card-title>{{i.first_name}}&nbsp;{{i.last_name}}</mat-card-title>
                        <mat-card-subtitle>{{i.email}}</mat-card-subtitle>
                        <mat-card-content>
                            <img src="{{i.avatar}}" alt="" srcset="">
                        </mat-card-content>
                        <mat-divider inset></mat-divider>
                        <mat-card-footer>
                            ID : {{i.id}}
                        </mat-card-footer>
                    </mat-card>
                </li>
            </ul>
        </div>
    </div>

    <!-- <div *ngIf="!listdata && list!=null">
        <mat-card class="example-card">

            <mat-card-title>No data available</mat-card-title>
        </mat-card>
    </div> -->